/* Mobile-first base styles */
.alerts-container {
	position: fixed;
	top: 0px;
	left: 20px;
	width: 250px;
	z-index: 1000;
}

.App {
	text-align: center;
	padding: 1rem;
	background-color: #fff;
	min-height: 100vh;
}

.header-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	margin-left: 2rem;
	padding-left: 2rem;
}

.chart-container {
	display: grid;
	grid-template-columns: 1fr; /* Single column for mobile */
}

.pieChartLabel {
	font-weight: bold;
}

/* Smaller screens */
@media (max-width: 768px) {
	.chart-container {
		grid-template-columns: 1fr; /* Ensures single column layout on small devices */
	}
}

/* Larger screens */
@media (min-width: 768px) {
	.header-area {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.chart-container {
		grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
	}

	.Event {
		margin: 2rem auto;
		max-width: 600px;
	}

	.Event__Overview {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.Event__Overview--Button {
		margin-left: 1rem;
	}

	.Event__Details {
		padding-top: 2rem;
	}
}
